/* Custom CSS i made myself like a big boï*/

/* ===========================================
General tweaks to the appearance */
#logo, #mainLogo {
    /* Main logo customization */
    max-height: 175px;
    border-radius: 50% !important;
    box-shadow: 0px 0px 5px darkslategrey;
}

small {
    font-size: x-small;
}

/* ===========================================
Flexbox definitions */
.flex-container: {
    /* Flax parent class */
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: right;
}

.flex-child {
    /* Flex child class */
    width: 300px;  
    padding: 5px;
    border: 1px solid #deddda;
    border-radius: 5px;
    background: #ffffff;
margin: 10px;  /* Magic! */
}

/* ===========================================
Content box, mainly for ToC */
.contentBox {
    background: #f6f5f4 !important;
    border: 1px solid #deddda;
    border-radius: 7px;
    font: Arial !important;
    padding: 20px  !important;
}

/* ===========================================
Buttons! */
.btn-green {
    color: #fff;
    background-color: #26a269 !important;
    border-color: #26a269 !important;
}
.btn-purple {
    color: #fff;
    background-color: #813d9c !important;
    border-color: #813d9c !important;
}
.btn-blue {
    color: #fff;
    background-color: #1c71d8 !important;
    border-color: #1c71d8 !important;
}
