// put custom css here

// Initiation black-magic
#body-inner { 
    // swag
}

#News {
    //
}

#logo {
    // yolo
}

#random1 {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
    }

// Flexbox definitions
.flex-container: {
    background: red !important;
    background: red !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: right;
}

.flex-child {
  width: 300px;  /* Or whatever */
  padding: 5px;
  border: 1px solid #deddda;
  border-radius: 5px;
  background: #ffffff;
  margin: 10px;  /* Magic! */
}

.contentBox {
    background: #f6f5f4 !important;
    border: 1px solid #deddda;
    border-radius: 7px;
    font: Arial !important;
    padding: 20px  !important;
}

// Mainlogo formating
#mainLogo {
    max-height: 175px;
    border-radius: 50% !important;
    box-shadow: 0px 0px 5px darkslategrey;
}
