// put custom css here

#body-inner { 
    // swag
}

#TOC {
    background: #f6f5f4 !important;
    border: 1px solid #deddda;
    border-radius: 7px;
    font: Arial !important;
    padding: 0px 30px 0px 30px  !important;
}

#logo {
    // yolo
}

#mainLogo {
    max-height: 175px;
    border-radius: 50% !important;
    box-shadow: 0px 0px 5px darkslategrey;
}
